.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
dist/
coverage/
.eslintcache
unpackage/
.hbuilderx/
uni-app/node_modules/
uni-app/dist/
uni-app/unpackage/
uni-app/.hbuilderx/
*.keystore
*.jks
*.tsbuildinfo
.tmp/
temp/
*.tmp